@import url('reset.css');


body{
    background-color: #C1F179;
    min-width: 1024px;
    max-width: 1366px;
    font-family: sans-serif;
}
h1 {
    display: block;
    font-size: 2em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h4 {
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h5 {
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.dropbtn {
    background-color: #E3D3AF;
    color: #885D4A;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    min-width: 100px;
    vertical-align: bottom;
}
.dropbtn:hover {
    background-color: #E3D3AF;
    color: #C34246;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E3D3AF;
    color: #BBBB9D;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
/* Links inside the dropdown */
.dropdown-content-link {
    color: #885D4A;
    padding:12px 16px;
    text-decoration: none;
    display: block;
}   
.dropdown-content form {
    color: #885D4A;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #E3D3AF;
    color: #C34246;
}
/* Show the dropdown menu on hover */
.dropdown:hover .menu-hover {
    display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #E3D3AF;
    color: #C34246;
}
#icon{
    margin-bottom: -65px;
}
.icon-menu{
    margin-left: 19px;
    height: 60px;
    display: block;
}
#gambarUkdw{
    height: 150px;
    width: auto;
    float: none;
    margin: 2px 2px 2px 2px;
    vertical-align: bottom;
}
#judul {
    margin: 2px 2px 100px 2px;
    display: inline;
}
#menuUtama {
    text-align: center;
    background-color:#E3D3AF;

}
.AboutUs{
    
    width: 50% ;
    border-width : 4px;
    border-color: #2D2317;
    border-radius: 9px;
}
.link-normal{
    text-decoration: none;
}
.showLayout{
    color: #593B21;
    background-color: #A4CDAF;
    display: block;
    padding: 23px;
    margin-top: 309px;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.imgHome{
    height: 350px;
    width: 1024px;
}
.case{
    color: black;
    background-color: #F1F1F1;
	min-height: 25px;
	padding: 21.5px;
	margin: 20px 10px auto;
	overflow: hidden;
    display: inline-block;
    height: 460px;
    width: 190px;
    border-radius: 10px;
	box-shadow: 0px 5px 20px #402E20;
}

.caseAchievement{
    color: black;
    background-color: #F1F1F1;
	min-height: 25px;
	padding: 21.5px;
	margin: 20px 10px auto;
	overflow: hidden;
    width: 960px;
    border-radius: 10px;
	box-shadow: 0px 5px 20px #402E20;
    margin-bottom: 25px;
}   
.caseHalf{
    color: black;
    background-color: #F1F1F1;
	min-height: 25px;
	padding: 19.5px;
	margin: 20px 10px auto;
	overflow: hidden;
    width: 450px;
    border-radius: 10px;
	box-shadow: 0px 5px 20px #402E20;
    margin-bottom: 25px;
    display: inline-block;
}
.sizefoto{
    width: 200px;
    height: 250px;
}
.sizefotoAchievement{
    float: left;
    display: inline;
    padding-right: 20px;
    width: 200px;
    height: 250px;
}
.caseProfile{
    color: black;
    background-color: #F1F1F1;
	min-height: 25px;
	padding: 0px 32px 0px 10px;
	margin: 20px 10px auto;
	overflow: hidden;
    display: inline-block;
    height: 450px;
    width: 183.5px;
    border-radius: 10px;
	box-shadow: 0px 5px 20px #402E20;
}
.containerIndex{
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: white;
	width: 1024px;
    min-height: 480px;
    margin: auto;
}
.containerProduct{
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 5px;
    background-color: white;
	width: 1000px;
    min-height: 480px;
    margin: auto;    
    border-radius: 10px;
	box-shadow: 0px 5px 20px #402E20;
}
.containerAbout{
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: white;
	width: 1024px;
    min-height: 480px;
	margin-right: auto;
    margin-left: auto;
}
.isiAchievement{
    display: inline;
    vertical-align: top;
}
.loginbtn{
    text-decoration: none;
    color: white;
}
.clear{
    text-decoration: none;
}

.current-page{
    color: #C34246;
}

.lecturer-content{
    display: inline-block;
    vertical-align: top;
}

.img-lecturer{
    height: 100px;
    margin-right: 10px
}

.div-lecturer{
    display: inline;
    float: left;
    padding: 20px;
    width: 470px;
}

#desc{
    text-align: justify;
    padding: 15px;
}
#forgot-password{
    border-radius: 15px;
    text-align: center;
    background-color: white;
    margin: auto;
    margin-top: 100px;
    padding: 15px;
    width: 400px;
    border-radius: 10px;
	box-shadow: 0px 5px 20px #402E20;
}

.desc-img{
    width: 700px;
    position: relative;
    left: 110px;
}
.fotoProfile{
    width: 200px;
    height: 250px;
    float: left;
    display: inline;
    padding-right: 20px;
    border-radius: 00px;
}
.fotoDev{
    width: 180px;
    height: 180px;
    float: left;
    display: inline;
    padding-right: 20px;
    border-radius: 00px;
    
}
.dropbtn-false {
    background-color: #E3D3AF;
    color: #885D4A;
    padding: 16px;
    font-size: 16px;
    border: none;
    display: inline-block;
    text-decoration: none;
    min-width: 100px;
    vertical-align: bottom;
}
.input-add{
    vertical-align: top;
}
.btnEdit{
    float: right;
    padding-top: 20px;
}
.btn-add{
    float: right;
    margin-right: 10px;
}
.post{
    display: inline;
}
.coba{
    overflow: hidden;
}
#about-center{
    text-align: center;
}